@media screen and (max-width: 480px){
    .divdiv {
        width: 400px;
        height: 600px;
    }
    .area {
        scroll-snap-align: none;
    }
    .stamps{
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }

    .tool_W{
        display: inline;
    }
}